*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

a, h1, h2, h3, p{
    text-decoration: none;
    color: white;
}

ion-icon{
    color: white;
    cursor: pointer;
    font-size: 25px;
}


html,
body{
    display: grid;
    grid-template-rows: 1fr auto; /* Body grid, header and container split */
    background: linear-gradient(#050505, #18181d);
    height: 100vh;
}


header{
    background-color: #5773ff;
    height: 5vh;
    display: flex;
    justify-content: flex-start; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    padding-left: 25px;
}

.head a > ion-icon{
    font-size: 24px;
    transition: all 0.3s ease;
}

.head a{
    font-weight: bold;
    transition: all 0.3s ease;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 4fr; /* container gird, meaning everything below header */
    background: linear-gradient(#050505, #18181d);;
    height: 95vh;
}

.sidebar{
    background-color: #18181d;
    padding: 50px 36px 50px ;
    display: grid;
    grid-template-rows:  4fr 1fr; /* Side bar gird */

    z-index: 10000;
    transition: all 0.3s ease;
}

.head a:hover,
.menu ul li:hover a,
.menu ul li:hover ion-icon{
    color: #5773ff;
}

.menu h5{
    color: #919191;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}


.right-section{
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    height: 95vh;
}

.right-section-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Dostosuj według potrzeb */
    height: 100%; /* Zajmuje 100% wysokości swojego rodzica */
    overflow: hidden; /* Zapobiega przewijaniu wewnątrz kontenera */
}

.acc-right-section-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto; /* Dostosuj według potrzeb */
    height: 100%; /* Zajmuje 100% wysokości swojego rodzica */
    overflow: hidden; /* Zapobiega przewijaniu wewnątrz kontenera */
}

.sum-right-section-container{
    height: 75vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


#account{
    display: grid;
    grid-template-rows: 1fr 4.25fr 0.5fr 3fr;
}

#summary{
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

.top-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    margin-top: 30px;
}

.acc-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.sum-top-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.plot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwa wykresy obok siebie */
    gap: 10px;
    overflow: hidden; 
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.account-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.acc-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#acc-info{
    padding: 20px; /* Added padding */
    background-color: #c7bc5b; /* Light yellow background */
    border: 1px solid #000000; /* Light grey border to simulate a notepad edge */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1); /* Soft shadow for a lifted paper effect */
    border-radius: 5px; /* Slightly rounded corners */
    margin-top: 20px; /* Added some top margin for spacing */
    width: 30vh;
    height: 25vh;
    margin: auto;
}

#acc-info p {

    color: #000; /* Ensure text is black for readability */
}

.acc-image{
    width: 300px;
    height: 300px;
}

.acc-text-container{
    display: flex;
    justify-content: center;
}

.acc-limit-container-full{
    margin-top: 10px;
    background-color: #2a2a35;
    border-radius: 6px;
    margin-bottom: 30px;
}

.acc-limit-container{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-around;
}

.acc-skill-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;    
}


.acc-skill-bar {
    height: 20px;
    width: 140px;
    border-radius: 6px;
    background: #4070f4;
    color: #ffffff;
}



.acc-btn-container{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


.limit-split{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.table-container {
    overflow-y: auto; 
    max-height: 190px; 
    margin-bottom: 30px;
    min-height: 190px;
    border-radius: 5px; 
}

.ie-table, .home-table, .sum-table{
    width: 100%; 
    border-collapse: collapse; 
    background-color:   #2a2a35;
}



.ie-table th, .ie-table td, .home-table th, .home-table td, .sum-table th, .sum-table td{
    text-align: center; 
    vertical-align: middle;
    height: 30px;
}


.ie-table th, .home-table th, .sum-table th {
    background-color: #5773ff;
    position: sticky;   
    top: 0;
    z-index: 2;
    color: black;
}

.ie-table td, .home-table td, .sum-table td{
    padding: 3px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    color: rgb(163, 154, 154);
}

.sum-table-container{
    display: flex;
    justify-content: center;
    overflow-y: auto; 

}


.ie-table th:nth-child(1) { width: 5%; } 
.ie-table th:nth-child(2) { width: 10%; } 
.ie-table th:nth-child(3) { width: 10%; } 
.ie-table th:nth-child(4) { width: 10%; } 
.ie-table th:nth-child(5) { width: 10%; } 
.ie-table th:nth-child(6) { width: 10%; } 
.ie-table th:nth-child(7) { width: 10%; } 
.ie-table th:nth-child(8) { width: 25%; } 
.ie-table th:nth-child(9) { width: 15%; }

.home-table th:nth-child(1) { width: 5%; } 
.home-table th:nth-child(2) { width: 10%; } 
.home-table th:nth-child(3) { width: 10%; } 
.home-table th:nth-child(4) { width: 10%; } 
.home-table th:nth-child(5) { width: 10%; } 
.home-table th:nth-child(6) { width: 10%; } 
.home-table th:nth-child(7) { width: 10%; } 
.home-table th:nth-child(8) { width: 35%; }
.home-table th:nth-child(9) { width: 5%; }

@media screen and (max-width: 1400px) {
    
    .container .sidebar, .head a{
        font-size: 10px;
    }

}



/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5a5a5a; 
    border-radius: 5px; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a; 
  }


.exp-btn, .inc-btn, .acc-btn{
    background: #555050;
    border-radius: 6px;
    border: none;

    box-shadow: 0 0 3px rgb(163, 163, 163);
    color: #DFDEDF;
}
  
.exp-btn:focus, .inc-btn:focus, .acc-btn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }


.content-section {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 150px;
    position: relative;
    left: 50px;
}


#login-mt{
    margin-top: 220px;
}

#edit-inc-mt{
    height: 65vh;
}

#edit-exp-mt{
    height: 73vh;
}

#edit-acc-mt{
    height: 45vh;
}

/* Stylizacja tytułu formularza */
.form-group legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.rg-title, .ln-title{
    color: white;
}

/* Stylizacja pól formularza */
.form-group {
    margin-bottom: 20px;
    min-width: 450px;
    border: none;
}

#exp-form-group{
    min-width: 50%;
    margin: 0;

}

/* Stylizacja etykiet pól formularza */
.form-control-label {
    font-size: 18px;
    color: white;
}


.form-control,.form-control-p, .form-control-lg,.form-control-note{
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    color: #000000;
}

/* Stylizacja inputów i textarea */
.form-control,.form-control-p, .form-control-lg {
    width: 95%;
}

.form-control-note{
    max-width: 95%;
    min-width: 95%;
    min-height: 40px;
    max-height: 40px;
}


.form-check-label{
    color: white;
}

/* Stylizacja przycisku */
.btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 5px; /* Odstęp między przyciskami */
}


.rg-text{
    color: white;
    text-decoration: none;
    display: flex;
    gap: 5px;
}

.li-text{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.li-text-container{
    display: flex;
}
 
.rg-link,.li-link{
    color: rgb(204, 209, 134);
}

.invalid-feedback{
    padding-top: 5px;
    color: rgb(201, 20, 20);
}

.li-message{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    
}


@media screen and (max-width: 1400px) {
    
    .container .sidebar, .head a{
        font-size: 10px;
    }

}