{% extends "base.html" %}
{% block content %}
<div class="empty">
</div>
<div class="acc-right-section-container">
    <div class="acc-top-container">
        <h1>Account</h1>
    </div>
    <div class="account-container">
        <div class="acc-middle" id="acc-info">
            <p>You have saved already:</p>
            <p>20.000 $</p>
        </div>
        <div class="acc-middle">
            <img src="{{ avatar }}" class="acc-image">
            <p>{{ current_user.username }}</p>
        </div>
    </div>
    <div class="acc-text-container">
        <h2>Monthly Limits</h2>
    </div>
    <div class="limit-split">
        <div class="empty"></div>
        <div class="acc-limit-container-full">
            <div class="acc-limit-container">
                <p>Needs</p>
                <p>Wants</p>
                <p>Other</p>
            </div>
            <div class="acc-skill-bar-container">
                <div class="acc-skill-bar">
                    <span>{{ current_user.needs }}</span>
                </div>
                <div class="acc-skill-bar">
                    <span>{{ current_user.wants }}</span>                 
                </div>
                <div class="acc-skill-bar"> 
                    <span>{{ current_user.other }}</span>
                </div>
            </div>
            <div class="acc-btn-container">
                <a href="{{ url_for('update_account') }}">
                    <button type="button" class="acc-btn"  style="width: 100px;height: 25px;">Edit</button>
                </a>
            </div>            
        </div>
    </div>
</div>
{% endblock content %}
