<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Personal finance assistant</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="#">FinanceAssistant</a>
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <div class="menu">
                <h5>Menu</h5>
                <ul>
                    <li>
                        <ion-icon name="home-outline"></ion-icon>
                        <a href="/home">Home</ion-icon></a>
                    </li>
                    <li>
                        <ion-icon name="person-add-outline"></ion-icon>
                        <a href="/income">Income</a>
                    </li>
                    <li>
                        <ion-icon name="person-remove-outline"></ion-icon>
                        <a href="/expenses">Expense</a>
                    </li>
                    <li>
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <a href="/summary">Summary</a>
                    </li>
                    <li>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <a href="/account">Account</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <ion-icon name="log-out-outline"></ion-icon>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </aside>
        <main role="main">
            <div class="right-section">
                {% block content %}{% endblock %}
            </div>
        </main>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
