{% extends "base.html" %}
{% block content %}
<div class="empty">
</div>
<div class="right-section-container">
    <div class="content-section" id="login-mt">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="ln-title">Custom report</legend>
                <div class="form-group">
                    {{ form.from_date.label(class="form-control-label") }}
                    {% if form.from_date.errors %}
                        {{ form.from_date(class="form-control form-control-rp is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.from_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.from_date(class="form-control form-control-rp") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.to_date.label(class="form-control-label") }}
                    {% if form.to_date.errors %}
                        {{ form.to_date(class="form-control form-control-rp is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.to_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.to_date(class="form-control form-control-rp") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
</div>

{% endblock content %}