{% extends "base.html" %}
{% block content %}
<div class="empty">
</div>
<div class="right-section-container">
    <div class="top-container">
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <div class="form-group " id="exp-form-group">
                        {% if form.date.errors %}
                            {{ form.date(class="form-control is-invalid") }}
                        {% else %}
                            {{ form.date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <script>
                        document.getElementById('date-picker').addEventListener('change', function() {
                            this.form.submit();
                        });
                    </script>
            </form>
        </div>
        <div>
            <h1 id="route-title">Expenses</h1>
        </div>
    </div>
    <div class="plot-container">
        {% if values_bar %}
            <div id="exp-plot1">
                <canvas id="barChart" style="max-height: 300px;"></canvas>
                <script>
                    const ctg = document.getElementById('barChart');
                
                    new Chart(ctg, {
                    type: 'bar',
                    data: {
                        labels: {{ sorted_lables | safe }},
                        datasets: [{
                            type: 'line',
                            label: 'Linear',
                            data: {{ values_bar | safe }},
                            borderColor: 'rgb(255, 99, 132)'
                        },{
                        label: 'Bar',
                        data: {{ values_bar | safe }},
                        borderWidth: 1,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.6)'
                        }]
                    },
                    options: {
                        scales: {
                        y: {
                            beginAtZero: true
                        }
                        }
                    }
                    });
                </script>
            </div>
            <div id="exp-plot2">
                <canvas id="pieChart" style="max-height: 100%;"> </canvas>
                <script>
                    const ctx = document.getElementById('pieChart');
                    
                    new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: {{ lables_pie | safe }},
                        datasets: [{
                            data: {{ values_pie | safe }},
                            backgroundColor: [
                            '#EA738D',
                                '#8AAAE5',
                                'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 3
                        }]  
                    },
                    });
                </script>
            </div>
        {% else %}
            <div style="text-align: center; color: white;">
                <p>No data in currnet month</p>
            </div>
            <div style="text-align: center; color: white;">
                <p>No data in currnet month</p>
            </div>
        {% endif %}
    </div>
    <div class="btn-container">
        <button type="button" class="exp-btn" style="width: 38px;height: 25px;" onclick="window.location.href = '/expenses/new';">Add</button>
    </div>
    <div class="table-container">
        <table class="ie-table">
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Category</th>
                <th>Type</th>
                <th>Limit</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Note</th>
                <th></th>
            </tr>
            {% if not expenses %}
                <tr>
                    <td colspan="9" style="text-align: center;">No expenses on chosen day</td>
                </tr>
            {% else %}
                {% for expense in expenses %}
                <tr>
                    <td><img src="{{ url_for('static', filename='exp_icons/' + expense.category.name.lower() +'.png') }}" width="30" height="30"></td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.category.name }}</td>
                    <td>{{ expense.expense_type.name }}</td>
                    {% for entry in table %}
                        {% if expense.expense_type.name.lower() == 'needs' and expense.date.strftime('%m.%Y') == entry["date"] %}
                            <td style="font-weight: bold;">{% if entry["amount_needs"] == entry["amount_needs"]|float|int %}{{ entry["amount_needs"]|int }}{% else %}{{ entry["amount_needs"] }}{% endif %} / {{ current_user.needs }}</td>
                        {% endif %}
                        {% if expense.expense_type.name.lower() == 'wants' and expense.date.strftime('%m.%Y') == entry["date"] %}
                        <td style="font-weight: bold;">{% if entry["amount_wants"] == entry["amount_wants"]|float|int %}{{ entry["amount_wants"]|int }}{% else %}{{ entry["amount_wants"] }}{% endif %} / {{ current_user.wants }}</td>
                        {% endif %}
                        {% if expense.expense_type.name.lower() == 'other' and expense.date.strftime('%m.%Y') == entry["date"] %}
                        <td style="font-weight: bold;">{% if entry["amount_other"] == entry["amount_other"]|float|int %}{{ entry["amount_other"]|int }}{% else %}{{ entry["amount_other"] }}{% endif %} / {{ current_user.other }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ expense.date.strftime('%d-%m-%Y') }}</td>
                    <td style="color: rgb(201, 25, 25); font-weight: bold;">-{% if expense.amount == expense.amount|float|int %}{{ expense.amount|int }}{% else %}{{ expense.amount }}{% endif %}$</td>
                    <td style="text-align: left;">{{ expense.note }}</td>
                    <td>
                        <div class="button-container" style="justify-content: right;">
                            <a href="{{ url_for('update_expense', expense_id=expense.id) }}">
                                <button type="button" class="exp-btn" style="width: 36px;height: 25px;">Edit</button>
                            </a>
                            <form action="{{ url_for('delete_expense', expense_id=expense.id) }}" method="POST">
                                <input type="submit" class="exp-btn" style="width: 40px;height: 25px;" value="Delete">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock content %}