{% extends "base.html" %}
{% block content %}
<div class="empty">
</div>
<div class="right-section-container">
    <div class="top-container">
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <div class="form-group " id="exp-form-group">
                        {% if form.date.errors %}
                            {{ form.date(class="form-control form-control-lg is-invalid") }}
                        {% else %}
                            {{ form.date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <script>
                        document.getElementById('date-picker').addEventListener('change', function() {
                            this.form.submit();
                        });
                    </script>
            </form>
        </div>
        <div>
            <h1 id="route-title">Income</h1>
        </div>
    </div>
    <div class="plot-container">
        <div id="inc-plot1">
            <canvas id="barChart" style="max-height: 400px;"></canvas>
            <script>
                const ctg = document.getElementById('barChart');
                
                new Chart(ctg, {
                    type: 'bar',
                    data: {
                    labels: {{ sorted_lables | safe }},
                    datasets: [{
                        type: 'line',
                        label: 'Linear',
                        data: {{ values_bar | safe }},
                        borderColor: 'rgb(255, 99, 132)'
                    },{
                        label: 'Bar',
                        data: {{ values_bar | safe }},
                        borderWidth: 1,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.6)'
                    }]
                    },
                    options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    }
                    }
                });
                </script>
        </div>
        <div id="inc-plot2">
            <canvas id="pieChart" style="max-height: 400px;"> </canvas>
            <script>
                const ctx = document.getElementById('pieChart');
                
                new Chart(ctx, {
                    type: 'pie',
                    data: {
                    labels: {{ lables_pie | safe }},
                    datasets: [{
                        data: {{ values_pie | safe }},
                        backgroundColor: [
                            '#EA738D',
                            '#8AAAE5',
                            'rgb(255, 205, 86)',
                            '#EEA47F',
                            '#CBD18F',
                            '#317773',
                            '#E2D1F9'
                        ],
                        hoverOffset: 3
                    }]  
                    },
                });
            </script>
        </div>
    </div>
    <div class="btn-container">
        <button type="button" class="inc-btn" style="width: 38px;height: 25px;" onclick="window.location.href = '/income/new';">Add</button>
    </div>
    <div class="table-container">
        <table class="ie-table">
            <tr>
                <th style="width: 60px;">Icon</th>
                <th style="width: 170px;">Name</th>
                <th style="width: 170px;">Category</th>
                <th style="width: 250px;"></th>
                <th style="width: 170px;">Date</th>
                <th style="width: 170px;">Amount</th>
                <th style="width: 300px;">Note</th>
                <th style="width: 100px;"></th>
            </tr>
            {% if not incomes %}
                <tr>
                    <td colspan="9" style="text-align: center;">No income on chosen day</td>
                </tr>
            {% else %}
                {% for income in incomes %}
                <tr>
                    <td style="width: 60px;"><img src="{{ url_for('static', filename='inc_icons/' + income.category.name.lower() +'.png') }}" width="30" height="30"></td>
                    <td style="width: 170px;">{{ income.name }}</td>
                    <td style="width: 170px;">{{ income.category.name }}</td>
                    <td style="width: 250px;"></td>
                    <td style="width: 170px;">{{ income.date.strftime('%d-%m-%Y') }}</td>
                    <td style="width: 170px;color: rgb(63, 148, 91); font-weight: bold;">+{% if income.amount == income.amount|float|int %}{{ income.amount|int }}{% else %}{{ income.amount }}{% endif %}$</td>
                    <td style="width: 300px;text-align: left;">{{ income.note }}</td>
                    <td style="width: 100px;">
                        <div class="button-container" style="justify-content: right;">
                            <a href="{{ url_for('update_income', income_id=income.id) }}">
                                <button type="button" class="inc-btn" style="width: 36px;height: 25px;">Edit</button>
                            </a>
                            <form action="{{ url_for('delete_income', income_id=income.id) }}" method="POST">
                                <input type="submit" class="inc-btn" style="height: 25px;" value="Delete">
                            </form>
                        </div>
                    </td>
                    
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div> 
{% endblock content %}
