<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <title>Personal finance assistant</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="#">FinanceAssistant</a>
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <div class="menu">
                <h5>Menu</h5>
                <ul>
                    <li>
                        <ion-icon name="home-outline"></ion-icon>
                        <a href="/home">Home</ion-icon></a>
                    </li>
                    <li>
                        <ion-icon name="person-add-outline"></ion-icon>
                        <a href="/income">Income</a>
                    </li>
                    <li>
                        <ion-icon name="person-remove-outline"></ion-icon>
                        <a href="/expenses">Expense</a>
                    </li>
                    <li>
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <a href="/summary">Summary</a>
                    </li>
                    <li>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <a href="/account">Account</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <ion-icon name="log-out-outline"></ion-icon>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </aside>
    <main role="main">
        {% with messages = get_flashed_messages(category_filter=["register"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="li-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="content-section" id="login-mt">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="ln-title">Log In</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
                <div class="li-text-container">
                    <small class="li-frgt">
                        <a href="#" class="li-link">Forgot Password?</a>
                        <div class="li-text">
                            Need An Account? <a class="li-link" href="{{ url_for('register') }}">Sign Up Now</a>
                        </div>
                    </small>
                </div>
            </form>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
