{% extends "base.html" %}
{% block content %}
<div class="empty">
</div>
<div class="sum-right-section-container">
    <div class="sum-top-container">
        <h1>Summary</h1>
    </div>
    <div class="plot-container">
        <div>
            <h2>Date</h2>
        </div>
        <div>
            <h2>Lista</h2>
        </div>
    </div>
    <div class="sum-table-container">
        <table class="sum-table" id="sum-table1">
            <tr>
                <th>Icon</th>
                <th>Lp.</th>
                <th></th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>cell 1</td>
                <td>cell 2</td>
                <td></td>
                <td>cell 4</td>
                <td>cell 5</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}